
body{
  background-color: #121212;
}
.containerr{
  background: rgb(45,20,44);
  background: linear-gradient(90deg, rgba(45,20,44,1) 0%, rgba(128,19,54,1) 100%);
  width: 1400px;
  border-radius: 20px;
  box-shadow: 0 10px 10px #111;
height: 80%;
display: flex;
justify-content: start;
align-items: center;
color: #fff;
}

.exContainer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 34rem;
}
.jc{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.containerrr {
  height: 100%;
  display: flex;
  flex-direction: column;
 justify-content: center;
  align-items: flex-end;
  
}
.SubmitFooter{
  display: flex;
  justify-content: center;
  flex-direction: row;
 width: 35%; 
 margin-top: 10px;
}

.mg10{
  margin-top: 5px;
}

.nomg{
  margin-top: 0px !important; 
  
}

.dark_bg{
  background: linear-gradient(90deg, #391938, #391938, #2D142C, #2d142c) !important;
}
.dark_bg:before{
  background: linear-gradient(90deg, #391938, #391938, #2D142C, #2d142c) !important;
}



