
body{
  background-color: #121212;
}
.containerr{
  background: rgb(45,20,44);
  background: linear-gradient(90deg, rgba(45,20,44,1) 0%, rgba(128,19,54,1) 100%);
  width: 1400px;
  border-radius: 20px;
  box-shadow: 0 10px 10px #111;
height: 915px;
padding-left: 70px;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
}
