html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  align-items: left;
  margin: 20px;

  width: 140px;
  background: #fff;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);
}
.card__description {
  padding: 20px 10px 20px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d142c;
  border-radius: 0px 0px 6px 6px;
  line-height: 1.3;
}
span {
  color: white !important;
  font-size: 15px !important;
}

.card__image {
  position: relative;
  $size: 100px;
  width: 100%;
  display: block;
  max-width: 140px;
  height: 120px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    cursor: pointer;
    &:after {
      bottom: 0;
      color: rgba(255, 255, 255, 1);
      transition: (all 0.15s);
    }
    .image-overlay {
      background-color: rgba(35, 155, 55, 0.33);
      transition: (all 0.15s);
    }
  }

  &:after {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -4em;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "FontAwesome";
    font-size: 1em;
    text-align: center;
    content: "\f00c";
    color: rgba(255, 255, 255, 0);
    color: #fff;
    transition: (all 0.15s);
  }

  .image-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba (255, 255, 255, 0);
    transition: (backgroundColor, 0.15s);
  }

  img {
    display: block;
    width: 100%;
  }
}

.card__actions {
  font-family: serif;
  font-size: 25px;
  line-height: 12px;
  color: #a3a3a3;
  text-align: right;
  padding: 0 8px 0 0;
  margin: 0;
}

// .is-checked animations

.card.is-checked {
  .card__image {
    &:after {
      font-size: 2.26em;
      bottom: 0;
      transition: all 0.15s;
    }

    .image-overlay {
      background-color: rgba(35, 155, 55, 0.66);
    }
  }
}

// random elements scss
