.plan-card{
    width: 50%;
    background-color: #131313;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);
}

.input-container {
    display: inline-block;
    margin-right: 10px; 
  }
  
.name{
  display: flex;
  justify-content: center;
  width: 100%;
}

<<<<<<< HEAD
.remove:hover{
  cursor: pointer;
=======
input{

border-radius: 15px !important;
height: 35px;
font-family: "Nunito", sans-serif;
>>>>>>> 21228450b9705a9be9afa0bb7fe493f632e57a26
}