* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 97vh;
  width: 60px;
  background-color: #131313;
  border-radius: 10px;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 10px 20px #111;
}

/* sidebar open */
.sidebar.open {
  width: 250px;
}
.sidebar.open .menu-text {
  display: block;
}
.sidebar.open .menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
}

.sidebar.open .menu-item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.sidebar.open .menu-item i {
  margin: 15px;
}

.sidebar.open .expand-button i {
  transform: rotate(-180deg);
  position: absolute;
  right: 10px;
  top: -50%;
}
/* profile  */
/* expand icon */
.profile {
  display: grid;
  place-items: center;
  height: 60px;
  width: 100%;
  background-color: #4442;
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}

.profile img {
  display: grid;
  place-items: center;
  height: 40px;
  width: 40px;

  border-radius: 50%;
  cursor: pointer;
}
.menu-text {
  display: none;
}
/* main menu */
.main-menu {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.menu-item {
  position: relative;
  margin: 5px 0;
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.menu-item.active {
  background-color: #333333;
  border-radius: 15px;
}

.menu-item:hover {
  transform: scale(1.2);
}

.main-menu i.menu-icon {
  font-size: 15px;
  cursor: pointer;
  color: #ccc;
}

/* expand icon */
.expand-button {
  position: absolute;
  bottom: 0;
  display: grid;
  place-items: center;
  height: 30px;
  width: 100%;
  font-size: 20px;
  color: #fff;
  background-color: #222;
}

.expand-button i {
  position: absolute;
  top: -50%;
  display: grid;
  place-items: center;
  height: 40px;
  width: 40px;
  background-color: #364f6b;
  border: 5px #222 solid;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    height: 100%;
    position: relative;
  }
}
